* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: hsl(0, 100%, 74%);
  background-image: url(./images/bg-intro-desktop.png);
  background-size: cover;
  background-position: center;
  font-size: 16px;
}

h1,
p {
  color: #fff;
}

.wrapper {
  width: 100%;
  height: 100%;
}

.container-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
  height: 100%;
}

.text {
  max-width: 420px;
}

.form {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.trial {
  background-color: hsl(248, 32%, 49%);
  padding: 12px;
  text-align: center;
  border-radius: 7px;
  color: #fff;
}

#trial-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 30px;
  border-radius: 7px;
  gap: 20px;
}

#trial-form input {
  height: 40px;
  padding-left: 20px;
  border-radius: 7px;
  width: 100%;
  border: 1px solid;
}

button {
  color: #fff;
  background-color: hsl(154, 59%, 51%);
  border: none;
  padding: 10px;
  border-radius: 7px;
  text-transform: uppercase;
  font-weight: 700;
}

@media (max-width: 768px) {
  .wrapper {
    padding: 10px;
  }

  .container-grid {
    grid-template-columns: 1fr;
  }
}
